
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

*{
  background-color: linear-gradient(180deg,#fde1ff , #e1ffea22 60%);
}
main {
    padding-top: 3rem;
    padding-bottom: 2rem;
  
  }
  
  .widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
  }
  
  .extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .divider-new {
    margin-top: 0;
  }
  
  .navbar {
    background-color: #17b076;
    color: black;
  }
  
  footer.page-footer {
    background-color: #414a5c;
    margin-top: 2rem;
  }
.popular-card{

}
.popular-img{
  padding-left: 50px;
  justify-content: center;
  height: 500px!important;
  width: 200px;
}